{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": "67",
          "chrome": "75",
          "safari": "11"
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ]
}
